<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Web Guesser</title>
</head>
<body>

  <p>Opportunities: <%= opportunities %></p>
  <p><%= message %></p>

  <% if guessing %>
    <form>
      <input type="text" name="guess">
      <input type="submit" value="Guess!">
    </form>
  <% else %>
    <form action="/restart">
      <input type="submit" value="Start Again">
    </form>
  <% end %>

</body>
</html>
